* {
   margin: 0;
   padding: 0;
   color: white;
   font-family: Consolas;
}

@font-face {
   font-family: "Consolas";
   src: url("./assets/font/consolass.ttf") format("truetype");
}

body {
   box-sizing: border-box;
   background-color: black;
}

.container {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.input-div {
   display: flex;
   flex-direction: column;
}

.input-section {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

input {
   color: black;
   padding: 4px 20px;
}

label {
   font-weight: bold;
   font-size: 15px;
   margin: 5px;
}

.submit-btn {
   color: black;
   margin-top: 25px;
   border: none;
   padding: 5px 15px;
   cursor: pointer;
   font-size: 12px;
}

.submit-btn:hover {
   opacity: 90%;
   animation: linear;
}

form {
   border: 1px solid rgba(255, 255, 255, 0.224);
   padding: 60px 50px;
}

audio {
   width: 100%;
   height: 40px;
   max-width: 400px;
   filter: invert(1);
   border-radius: 10px;
}

.audio-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 300px;
   padding: 30px 40px;
   border: 1px solid rgba(255, 255, 255, 0.235);
}

span:hover {
   text-decoration: underline;
}

.container span {
   font-size: 13px;
}

.audio-section p {
   font-size: 12px;
   font-weight: bold;
   margin-top: 10px;
}

.container h5 {
   text-align: center;
   font-weight: bold;
   margin-bottom: 20px;
   font-size: 17px;
}

header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   z-index: 200;
}

.back-home {
   justify-self: start;
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   position: absolute;
   top: 30px;
   left: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.souce-code-link {
   font-size: 12px;
   position: absolute;
   right: 30px;
   top: 30px;
   font-weight: bold;
}

.souce-code-link:hover {
   color: rgb(13, 228, 13);
}

.souce-code-link-2 {
   font-size: 12px;
   position: absolute;
   right: 30px;
   bottom: 30px;
   font-weight: bold;
}

.souce-code-link-2:hover {
   color: rgb(13, 228, 13);
}
